@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700,900);@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700,800);/* MIXINS */

/*
@media (max-width: $screen-xs-max) { ... }
@media (min-width: $screen-sm-min) { ... }
@media (max-width: $screen-sm-max) { ... }
@media (min-width: $screen-md-min) { ... }
@media (max-width: $screen-md-max) { ... }
@media (min-width: $screen-lg-min) { ... }
*/

a:hover {
  text-decoration: none;
}

body,
.fullHeight {
  min-height: 100vh;
}

header {
  background-color: #1B4671;
}

